<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ng-gridify</title>

<link rel="stylesheet" href="/assets/vendors/bootstrap-3.2.0/css/bootstrap.css" media="screen">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/stylesheets/screen.css" media="screen">

<script src="/assets/vendors/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/assets/vendors/bootstrap-3.2.0/js/bootstrap.min.js" type="text/javascript"></script>

<script src="/assets/vendors/angular-1.2.22/angular.min.js" type="text/javascript"></script>
<script src="/assets/vendors/angular-1.2.22/angular-resource.min.js" type="text/javascript"></script>
<script src="/assets/vendors/angular-1.2.22/angular-ui-router.min.js" type="text/javascript"></script>

<script src="/assets/javascripts/app/app.js" type="text/javascript"></script>
<script src="/assets/javascripts/app/controllers/beer-ctrls.js" type="text/javascript"></script>
<script src="/assets/javascripts/app/directives/ng-gridify.js" type="text/javascript"></script>
<script src="/assets/javascripts/app/directives/ng-unli-scroll.js" type="text/javascript"></script>

{{content}}